In [1]:
import pandas as pd

In [3]:
# confirm environment pandas is using/imported from.
# our venv
pd.__file__

'/workspaces/Data-Engineering-Zoomcamp/pipeline/.venv/lib/python3.13/site-packages/pandas/__init__.py'

In [20]:
# readability
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'
url = f'{prefix}/yellow_tripdata_2021-01.csv.gz'

# Read a sample of the data
df = pd.read_csv(url)

/tmp/ipykernel_49344/2399039197.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [ ]:
# Check data types
df.dtypes

###### To prevent type issue, clean data type on load as opposed to after.

In [23]:
# clean data type on load
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

# Parse dates
parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [29]:
# Read a sample of the data
df = pd.read_csv(url,
                 dtype=dtype,
                 parse_dates=parse_dates
                )

In [30]:
# Check data types
df.dtypes

VendorID                          Int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   Int64
trip_distance                   float64
RatecodeID                        Int64
store_and_fwd_flag       string[python]
PULocationID                      Int64
DOLocationID                      Int64
payment_type                      Int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
dtype: object

In [28]:
# Check data shape
df.shape

(100, 18)

In [39]:
# install connector to database
!uv add sqlalchemy

Resolved 119 packages in 0.57ms
Audited 11 packages in 0.13ms

In [40]:
# we install binary version as that is faster
!uv add psycopg2-binary

Resolved 119 packages in 0.76ms
Audited 11 packages in 0.19ms

In [46]:
# install tqdm to help monitor progress
!uv add tqdm

Resolved 120 packages in 0.70ms
Audited 12 packages in 0.21ms

In [ ]:
# import our downloaded database connector
from sqlalchemy import create_engine

# create connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

###### Now we can use `df.sql` to insert into database

In [42]:
# how does this get the schema
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [44]:
# just create table with schema or column_names
# it actually adds it to our dockerized database/postgres
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

###### (MONITORED) INGESTION

In [51]:
# create iterators instead of dataframes
df_iter = pd.read_csv(url,
                      dtype=dtype,
                      parse_dates=parse_dates,
                      iterator= True,
                      chunksize= 100000
                )

In [52]:
# helps monitor progress
from tqdm.auto import tqdm

In [53]:
# actual ingestion script
# load and monitor in batches
for chunk_df in tqdm(df_iter):
    chunk_df.to_sql(name='yellow_taxi_data', 
                    con=engine, 
                    if_exists='append')

    print("Inserted chunk:", len(chunk_df))

# what if i wanted to make it such that it doesn't ingest data it has loaded before in case of retries
# basically one of ACID

0it [00:00, ?it/s]